@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container-fluid">
    <h1 class="mt-4">Calendar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Calendar" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Calendar</li>
    </ol>

    @*@if (User.IsInRole(BlueMoonAdmin.Utility.Helper.Admin))
    {
        <div class="form-group row col-2 mb-4" id="divEngineersList">
            <label> Select Engineer </label>
            @Html.DropDownList("engineerId", new SelectList(ViewBag.EngineerList, "Id", "Name"), new { @class = "form-control select2" })

        </div>
    }
    <div id="servicing-calendar" class="col-12 calendar-app"></div>*@
    <iframe src="https://outlook.office365.com/owa/calendar/c5e4c81260c64671b66d6d1ecdbf6bb6@shrinkwrappingsupplies.co.uk/cf582139bf934c28a1e8d703dabf9b2a5280642400629362122/calendar.html" title="SWS Calendar" height="800" width="1628" class="calendar-app"></iframe>
</div>

<partial name="_AddEditAppointment" />


@section styles{

   
}


@section Scripts{


    <script src="~/js/script-custom-calendar.js"></script>

}

